body {
  background-color: white;
  text-align: center;
  font-family: Sacramento;
}

.first-div {
  background-color: #3AB0FF;
  padding-top: 70px;
}
.cloud-bottom{
  position: absolute;
  right: 230px;
}
.cloud-top{
  position: absolute;
  right: 300px;
}
.sayar{
  width: 200px;
  height: 200px;
  position: absolute;
  left: 200px;
  top: 50px;
}
.second-div {
  background-color: #9772FB;
  padding-top: 70px;
  padding-bottom: 100px;
}

h1{
  font-size: 90px;
}
p{
  font-size: 40px;
}
